table {
    border: 1px solid;
    border-collapse: collapse;
}

th {
    border: 1px solid;
    padding: 2px;
}

td {
    border: 1px solid;
    padding: 2px;
    text-align: center;
}

td.marks {
    text-align: right;
}

.row_separator {
    border-top: 3px solid;
}

.good_pokemon {
    background-color: yellow;
}

.today {
    background-color: #00f700;
}

.yesterday {
    background-color: #ffa86c;
}

.highlight_button {
    background-color: green;
}