<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pokemons List</title>

    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="moment.js"></script>
    <script type="text/javascript" src="pokemons.js"></script>

    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="pokemons">

<div ng-controller="usersController">
    <div style="height: 100px;">
        <div ng-if="!initialized">
            <h1>loading</h1>
        </div>
        <div ng-if="initialized">
            <div ng-repeat="user in userList">
                <a href="pokemons.html?username={{user}}" target="_self">{{user}}</a>
            </div>
        </div>
    </div>
</div>

</body>